[submodule "example-vue"]
	path = example-vue
	url = git@github.com:pthomison/example-vue.git
[submodule "example-golang-websockets"]
	path = example-golang-websockets
	url = git@github.com:pthomison/example-golang-websockets.git
[submodule "example-vue-pinia"]
	path = example-vue-pinia
	url = git@github.com:pthomison/example-vue-pinia.git
[submodule "example-webpack"]
	path = example-webpack
	url = git@github.com:pthomison/example-webpack.git
[submodule "example-vue-router"]
	path = example-vue-router
	url = git@github.com:pthomison/example-vue-router.git
[submodule "example-golang-gorm-api"]
	path = example-golang-gorm-api
	url = git@github.com:pthomison/example-golang-gorm-api.git
[submodule "example-golang-webforms"]
	path = example-golang-webforms
	url = git@github.com:pthomison/example-golang-webforms.git
[submodule "example-golang-wasm"]
	path = example-golang-wasm
	url = git@github.com:pthomison/example-golang-wasm.git
